        <div class="sidebar-menu">
            <div class="menu-header">Monitoring</div>
            <a href="dashboard.html" class="sidebar-link">
                <i class="fas fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </a>
            <a href="alerts.html" class="sidebar-link">
                <i class="fas fa-exclamation-triangle"></i>
                <span>Alerts</span>
            </a>
            <a href="analytics.html" class="sidebar-link active">
                <i class="fas fa-chart-line"></i>
                <span>Analytics</span>
            </a>
            
            <div class="menu-header">Management</div>
            <a href="settings.html" class="sidebar-link">
                <i class="fas fa-cog"></i>
                <span>Settings</span>
            </a>
            <a href="reports.html" class="sidebar-link">
                <i class="fas fa-file-alt"></i>
                <span>Reports</span>
            </a>
            <a href="rule_managment.html" class="sidebar-link">
                <i class="fas fa-list-check"></i>
                <span>Rules</span>
            </a>
            <a href="whitelist.html" class="sidebar-link">
                <i class="fas fa-shield-halved"></i>
                <span>Whitelist</span>
            </a>
